<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<p th:text="'Xin chào ' + ${firstname} +' '+ ${lastname}"></p>
<p>Bạn đã được tạo tài khoản truy cập vào sàn thương mại</p>
<p>Thông tin tài khoản của bạn:</p>
<p th:text="'Email: ' + ${email} "></p>
<p th:text="'Mật khẩu: ' + ${password} "></p>
<p style="font-style: italic;">*Lưu ý: Không tiết lộ thông tin tài khoản của bạn với bất kỳ người nào khác không thuộc thẩm quyền truy cập vào hệ thống!</p>
<p>Xin cảm ơn!</p>

<p>Admin</p>
</body>
</html>
